@charset "utf-8";

.wrap{
  background-color: yellow;
  width: 1000px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: row; /*기본값은 row 이므로 안줘도 된다.메인 축 결정하는 코드*/
  justify-content: space-evenly; /*메인 축이 어떤 것이 모르기 때문에 start,, end*/
  
}
.wrap div{
  background-color: pink;
  flex-basis: 100px;
}
.w1{
  order: 1;
  flex-shrink: 1; /*축소하는 코드*/
  flex-grow: 2;
}
.w2{
  flex-shrink: 2;
  flex-grow: 3;
}
.w3{
  order: -1;
  flex-shrink: 0;
    flex-grow: 0;
}
.w4{
  flex-shrink: 1;
    flex-grow: 1;
}